@model IEnumerable<Assignment2BaseballWebsite.Models.TeamInfo>

@{
    ViewData["Title"] = "Index";
}

    <style>
        p {
            color: white;
            font-weight: bold;
            width: 80%;
            font-family: 'Comic Sans MS', cursive;
            font-size: 35px;
            margin-left: 10%;
        }




    </style>

<h2>Team Information</h2>



@foreach (var item in Model)
{
  
    <section id="teamInfo-section">
        <div class="title-wrapper">
            <h1 class="teamInfo-h1">
                @Html.DisplayFor(modelItem => item.TeamName)
            </h1>

            <h2 class="teamInfo-h2">
                @Html.DisplayFor(modelItem => item.TeamDivision)
            </h2>
        </div>
        <div class="teamInfo-Flex1">
            <div class="flex-col">
                <p class="teamInfo-subHeader">Home Field Location:</p>
                <p class="teamInfo-content">@Html.DisplayFor(modelItem => item.HomeField)</p>
            </div>
            <div class="flex-col">
                <p class="teamInfo-subHeader">Team Manager:</p>
                <p class="teamInfo-content">@Html.DisplayFor(modelItem => item.TeamManager)</p>
            </div>
        </div>

        <div class="teamInfo-players">
            <p class="teamInfo-subHeader">Players:</p>
            <p class="teamInfo-player-content">
                @foreach (var player in item.PlayerInfo)
                {
                    @Html.DisplayFor(modelItem => player.FirstName)
                    <br />
                }
                    </p>

        </div>



    </section>

       


}
