@model IEnumerable<Assignment2BaseballWebsite.Models.TeamInfo>

@{
    ViewData["Title"] = "Index";
}

<style>
    p {
        font-weight: bold;
        width: 80%;
        font-family: "Arial", Times, sans-serif;
        font-size: 24px;
        margin-left: 10%;
    }
</style>

<h2>Team Information</h2>
<p>
    <a class="add-button" asp-action="Create">Add A Team</a>
</p>


@foreach (var item in Model)
{
  

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamLogoURL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamDivision)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HomeField)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeamManager)
                    </th>
                    <th>
                       
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamLogoURL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamDivision)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeField)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamManager)
                    </td>
                    <td>
                        @foreach (var player in item.PlayerInfo)
                        {
                            @Html.DisplayFor(modelItem => player.FirstName)
                            <br />
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TeamInfoId">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.TeamInfoId">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.TeamInfoId">Delete</a>
                    </td>

                </tr>

            </tbody>
        </table>


}
