@model IEnumerable<Assignment2BaseballWebsite.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

    <style>
        p {
            color: white;
            font-weight: bold;
            width: 80%;
            font-family: 'Comic Sans MS', cursive;
            font-size: 35px;
            margin-left: 10%;
        }
    </style>
   
<div>

    @foreach (var item in Model)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Home Team                       
                    </th>
                    <th>
                        Away Team
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GameDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HomeTeamScore)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AwayTeamScore)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.teamInfo.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.teamInfo.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeTeamScore)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayTeamScore)
                    </td>                 
                </tr>
            </tbody>
        </table>
    }
</div>
