@model Assignment2BaseballWebsite.Models.PlayerStats

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlayerStats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Doubles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doubles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Triples)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Triples)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeRuns)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeRuns)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RunsBattedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RunsBattedIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StatId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
