@model Assignment2BaseballWebsite.Models.PlayerStats

@{
    ViewData["Title"] = "Details";
}
<style>
    dt{
        font-size:28px;
        width:30%;
        
        text-align:right;
    }

    dd{
        font-size:20px;
        margin-bottom:2%;
        margin-left:32%;
        text-align:left;
    }
</style>
<h2>Game 
    
    Details</h2>

<div>
    <h4>PlayerStats</h4>
    <hr />
    <dl class="details-wrapper">

        <dt>
            First Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.playerInfo.FirstName)
        </dd>
        <dt>
            Last Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.playerInfo.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doubles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doubles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Triples)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Triples)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeRuns)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeRuns)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RunsBattedIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RunsBattedIn)
        </dd>

    </dl>
</div>
<div>
    <a asp-area="Identity" asp-action="Edit" asp-route-id="@Model.StatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
