@model IEnumerable<Assignment2BaseballWebsite.Models.PlayerStats>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hits)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Doubles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Triples)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeRuns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunsBattedIn)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.playerInfo.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerInfo.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Hits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doubles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Triples)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeRuns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunsBattedIn)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            
        </tr>
}
    </tbody>
</table>
