@model IEnumerable<Assignment2BaseballWebsite.Models.PlayerStats>

@{
    ViewData["Title"] = "Index";
}

<h2>Player Stats</h2>


<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doubles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Triples)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeRuns)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunsBattedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doubles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Triples)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeRuns)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunsBattedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerInfo.City)
            </td>
            <a asp-action="Edit" asp-route-id="@item.StatId">Edit</a>
            <a asp-action="Details" asp-route-id="@item.StatId">Details</a>
            <a asp-action="Delete" asp-route-id="@item.StatId">Delete</a>
        </tr>
}
    </tbody>
</table>
